<!-- <div>
  <mat-toolbar color="primary">
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span [innerHTML]='title'></span>
    <span></span>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav [mode]='mode' #sidenav>
      <ils-nav-list [items]="items$" (itemClick)="onItemClick($event)"></ils-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <ils-client-list></ils-client-list>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div> -->


<ils-main>
  
</ils-main>